<div class='ai-buttons grid'>
  <select {{on 'change' this.selectAlgorithm}}>
    {{#each-in this.botOptions as |value description|}}
      <option value={{value}} selected={{eq value this.bot.currentBot}}>{{description}}</option>
    {{/each-in}}
  </select>

  <button type='button' {{on 'click' this.toggleTrain}}>
    {{#if this.bot.trainTask.isRunning}}
      Train
    {{else}}
      Stop Training
    {{/if}}
  </button>

  <button type='button' {{on 'click' this.togglePlay}}>
    {{#if this.bot.gameLoop.isRunning}}
      Play
    {{else}}
      Stop Playing
    {{/if}}
  </button>

  <label>
    <input type='checkbox' {{on 'click' this.toggleAutoRetry}}> Auto-Retry
  </label>
</div>
