<div class='ai-buttons grid'>
  <select {{on 'change' this.selectAlgorithm}}>
    {{#each-in this.botOptions as |value description|}}
      <option value={{value}} selected={{eq value this.bot.currentBot}}>{{description}}</option>
    {{/each-in}}
  </select>

  <button type='button' {{on 'click' this.start}}>Start</button>
  <button type='button' {{on 'click' this.stop}}>Stop</button>

  <label>
    <input type='checkbox' {{on 'click' this.toggleAutoRetry}}> Auto-Retry
  </label>
</div>
